<div class="spacing-32">
  <div class="spacing-32">
    {{{typography
      "Account Management"
      "headline37"
      "foregroundDefault"
    }}}
    {{{typography
      "You can manage your Pebbles account from here."
      "small"
      "foregroundMuted"
    }}}
  </div>
</div>
